#################
## Node.js
#################

**/node_modules
**/bower_components
**/npm-debug.log
**/.sass-cache
.sync.json
.npm

#################
## Ruby
#################

.bundle
gems/

#################
## OS
#################

# Windows
**/Thumbs.db
**/Desktop.ini

# Other OS
**/.DS_Store
**/.Spotlight-V100
**/.Trashes
**/*.orig

#################
## IDE
#################

# Common IDE files
.idea
.tm_properties
.vscode
*.csproj.user

#################
## Misc
#################

logs
*.log
